<!DOCTYPE html>
<html>
  <head>
    <title>Message Analyzer</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="landing">
      <div class="logoImg">
        
      </div>
    
      <form action="/" method="post">
        <textarea name="sendText" id="sendText" cols="60" rows="10" required></textarea>
        <input type="submit" value="Analyze" />
      </form>
    </div>
  </body>
</html>
